/* style.css */

button {
    background-color: skyblue;
    color: black;
    height: 50px;
    width: 500px;
    border: 3px solid black;
    padding-bottom: 10px;
    padding-top: 10;
}

.button1:hover {
    color: skyblue;
    background-color: black;
}

a {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}

.main-box {
    /* sets page layout */

    display: flex;
    flex-flow: column;
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    text-align: center;
    }

.box-mid2 {
    /*logo control*/

    justify-content: center;
    align-items: center;
    margin: auto;
}


.box-mid1 {
    /* menu control */

    justify-content: space-between;
    align-items: center;

}