/* style.css */

button {
    background-color: white;
    color: black;
    height: 50px;
    width: 500px;
    border: 3px solid black;
    padding-bottom: 10px;
    padding-top: 10;
}

.button1:hover {
    color: white;
    background-color: black;
}

a {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}